/* Logo */
.logo__title {
    font-size: calc(1rem + 0.8vw);
    color: var(--title-color);
    font-weight: 900;
    margin: 0;
}

/* Buttons */
.btn-primary {
    padding: 0.6rem 1.2rem;
    box-shadow: var(--box-shadow-1);
    border: none;
    background: var(--main-button-color);
    background: -moz-linear-gradient(var(--main-button-gradient));
    background: -webkit-linear-gradient(var(--main-button-gradient));
    background: linear-gradient(var(--main-button-gradient));
}
.btn-primary:hover{
    border: none;
    background: var(--second-button-color);
    background: -moz-linear-gradient(var(--second-button-gradient));
    background: -webkit-linear-gradient(var(--second-button-gradient));
    background: linear-gradient(var(--second-button-gradient));
}
.btn-primary:focus{
    box-shadow: rgba(0, 26, 255, 0.22) 0px -5px 10px, rgba(0, 26, 255, 0.22) 0px 10px 6px -5px, rgba(0, 26, 255, 0.27) 0px 5px 10px -5px, rgba(10, 37, 64, 0.5) 0px -2px 6px 0px inset !important;
    border: none;
}
.btn-primary:active{
    background: var(--third-button-color);
    background: -moz-linear-gradient(var(--third-button-gradient));
    background: -webkit-linear-gradient(var(--third-button-gradient));
    background: linear-gradient(var(--third-button-gradient));
    border: none;
}

/* ICONS */
.icon_box {
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin-right: 0.5rem;
    /* padding: 3px 7px; */

    font-size: small;
    min-width: 25px;
    min-height: 25px;
    
    max-width: 25px;
    max-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_box.small {
    font-size: smaller;
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
}
.icon_box.big {
    font-size: x-large;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
}
.icon_box:hover {
    box-shadow: var(--box-shadow-2);
}
.icon_box > i {
    color: var(--title-color);
}

.icon_box.special {
    background-color: var(--special-background);
}
.icon_box.special:hover {
    box-shadow: var(--box-shadow-3);
}
.icon_box.special > i {
    color: var(--special-color)
}