/* Logo */
.logo__title {
    font-size: calc(1rem + 0.8vw);
    color: rgb(61, 61, 192);
    font-weight: 900;
    margin: 0;
}

/* Buttons */
.btn-primary {
    padding: 0.6rem 1.2rem;
    box-shadow: rgba(0, 26, 255, 0.12) 0px -5px 20px, rgba(0, 26, 255, 0.12) 0px 10px 6px -5px, rgba(0, 26, 255, 0.17) 0px 5px 13px -5px, rgba(10, 37, 64, 0.1) 0px -2px 6px 0px inset;
    border: none;
    background: rgb(62,79,255);
    background: -moz-linear-gradient(90deg, rgba(62,79,255,1) 0%, rgba(43,48,179,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(62,79,255,1) 0%, rgba(43,48,179,1) 100%);
    background: linear-gradient(90deg, rgba(62,79,255,1) 0%, rgba(43,48,179,1) 100%);
}
.btn-primary:hover{
    border: none;
    background: rgb(83,116,255);
    background: -moz-linear-gradient(90deg, rgba(83,116,255,1) 0%, rgba(67,72,198,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(83,116,255,1) 0%, rgba(67,72,198,1) 100%);
    background: linear-gradient(90deg, rgba(83,116,255,1) 0%, rgba(67,72,198,1) 100%);
}
.btn-primary:focus{
    box-shadow: rgba(0, 26, 255, 0.22) 0px -5px 10px, rgba(0, 26, 255, 0.22) 0px 10px 6px -5px, rgba(0, 26, 255, 0.27) 0px 5px 10px -5px, rgba(10, 37, 64, 0.5) 0px -2px 6px 0px inset !important;
    border: none;
}
.btn-primary:active{
    background: rgb(178,193,255);
    background: -moz-linear-gradient(90deg, rgba(178,193,255,1) 0%, rgba(83,114,233,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(178,193,255,1) 0%, rgba(83,114,233,1) 100%);
    background: linear-gradient(90deg, rgba(178,193,255,1) 0%, rgba(83,114,233,1) 100%);
    border: none;
}
