@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    font-family: 'Lato', sans-serif !important;
}
html, body, main {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

/* LINKS */
.link-dark {
    color: rgb(88, 88, 88);
}

/* TEXT AND TITLES */
.bold {
    font-weight: 700;
}
p {
    color: #566d84;
}
p.important{
    font-size: 1.1rem;
}

h1, h2, h5, .tag__text--1 {
    color: rgb(40, 40, 114);
}
h1,h2 {
    font-weight: 900;
}
h1 {
    font-size: calc(2rem + 1.8vw);
}
h5 {
    font-size: large;
    font-weight: 600;
}
.tag__text--1 {
    font-weight: 600;
    font-size: small;
}

.a100 {
    /* TEMPORAL, IT DOESNT WORK FOR ANYTHING */
    height: 100px;
    width: 100%;
    background-color: black;
}