/* -------- MAIN SECTION -------- */
.main {
    padding: 0px;
    margin: 0px;
    margin-bottom: calc( (1.5rem * 2) + (0.6rem * 2)*3 + 2rem);
    position: relative;
    height: 100vh;
}
.main__container{
    padding: 1.5rem 1rem;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1px);
}
.main__info {
    position: relative;
    top: calc( (1.5rem * 2) + (0.6rem * 2)*3 + 4rem);
    padding-bottom: 2rem;
}
.main__image--container {
    position: absolute;
    z-index: -1;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-image: url('./../images/nurse-1.jpg');
}

/* Vaccination form */
.vaccination__container {
    position: relative;
    top: calc( (1.5rem * 2) + (0.6rem * 2)*3 + 4rem);
}
.vaccination__form {
    position: relative;

    background-color: white;
    box-shadow: rgba(0, 47, 255, 0.15) 0px 10px 25px -5px,
    rgba(0, 47, 255, 0.08) 0px 3px 10px -5px;

    border-radius: 10px;
    padding: 2rem;
    width: calc(100vw - 1rem*2);
}
.vaccination__form>div{
    /* Form container */
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}
.vaccination__input-group {
    width: 100%;
    margin-bottom: 1.5rem;
}
.vaccination__input-group:last-child{
    margin-bottom: 0rem;
}
.vaccination__input-group h5{
    color: #566d84;
    font-weight: 500;
    margin-bottom: 0;
}
.vaccination__input-group input,
.vaccination__input-group select
{
    border: none;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 5px -4px;
    font-weight: 600;
    color: rgb(40, 40, 114);
}
.vaccination__input-group input:hover,
.vaccination__input-group input:focus,
.vaccination__input-group select:hover,
.vaccination__input-group select:focus {
    box-shadow: rgb(40, 40, 114, 0.3) 0px 5px 5px -2px;
}

/* VACCINES LOGOS SECTION */
.vaccines_logos {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 20px;
}
.vaccines_logos img{
    position: relative;
    filter: saturate(0.2) contrast(0.5) opacity(0.15);
    transform: scale(90%);
    margin: 1rem;
}
.vaccines_logos img:nth-child(1){
    /* AstraZeneca logo */
    height: 70px;
}
.vaccines_logos img:nth-child(2){
    /* Sinovac logo */
    height: 32px;
}
.vaccines_logos img:nth-child(3){
    /* Pfizer logo */
    height: 72px;
}
.vaccines_logos img:nth-child(4){
    /* Moderna logo */
    height: 44px;
}

/* Vaccine Information Section */


/* Vaccine preparations accordion */
.info-container {
    padding: 1.5rem 1rem;
}
/* .preparations.image--container {
    background-image: url('./../images/vaccination-1.jpg');
} */
.accordion-item {
    border: none;
    margin-bottom: 1rem;
}
.accordion-body {
    box-shadow: rgb(176 210 248 / 50%) 0px 13px 20px -12px;
    font-size: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: var(--principal-text-color);
}
.accordion-button {
    box-shadow:rgba(176, 210, 248, 0.7) 0px 0px 10px -5px;
    color: rgb(40, 40, 114);
    font-weight: 600;
}
.accordion-button:hover{
    box-shadow: rgb(168, 221, 252) 0px 3px 20px -2px;
}
.accordion-button:focus {
    box-shadow:rgba(176, 210, 248, 0.7) 0px 0px 10px -5px;
}
.accordion-button::after {
    background-color: rgb(225, 243, 255);
    border-radius: 5px;
    width: 15px;
    height: 15px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="%23566d84" class="bi bi-caret-down-fill" viewBox="0 0 16 16"> <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>') !important;
    background-size: 70% 70%;
    background-position: 50% 50%;
}
.accordion-button:not(.collapsed) {
    background-color: white;
    color: rgb(40, 40, 114);
    box-shadow:rgba(176, 210, 248, 0.7) 0px 0px 10px -5px;
}
.accordion-button:not(.collapsed)::after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="%233d3dc0" class="bi bi-caret-down-fill" viewBox="0 0 16 16"> <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>') !important;
    /* background-color: rgb(196, 229, 250); */
    box-shadow: inset 1px 1px 3px 2px rgba(0, 47, 255, 0.05);
}
.accordion-button:not(.collapsed) .icon_box {
    /* background-color: rgb(196, 229, 250); */
    box-shadow: inset -1px -1px 3px 2px rgba(0, 47, 255, 0.05);
}

/* Emergency contact section */
/* .contact.image--container {
    background-image: url('./../images/contact-1.jpg');
} */

/* SPECIAL BREAKPOINT FOR LOGOS */
@media (min-width: 453px) {
    .main {
        margin-bottom: 0px;
    }
    .vaccines_logos img:nth-child(2){
        /* Sinovac logo */
        top: -17px;
    }
}
/* SPECIAL BREAKPOINT FOR LOGOS */
@media (min-width: 560px) {
    .vaccines_logos img:nth-child(2){
        /* Sinovac logo */
        top: unset;
    }
}

/* Medium devices breakpoint */
@media (min-width: 768px) {
    .main__container,
    .info-container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .main__info {
        top: calc( (1.5rem * 2) + (0.6rem * 2) + 2rem);
    }
    .main__image--container{
        position: relative;
        /* background-position: 50% calc(50% + 4vw); */
    }
    .vaccination__container {
        top: unset;
        position: absolute;
        bottom: 1.5rem;
    }
    .vaccination__form {
        width: calc(100vw - 8rem - 15px);
    }
    .vaccination__form>div{
        /* Form container */
        display: flex;
        flex-direction: unset;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    .vaccination__input-group {
        width: 28%;
        padding-right: 1em;
        align-content: flex-end;
    }
    .vaccination__input-group:last-child {
        /* Submit button */
        width: 15%;
        padding: 0;
        margin: auto;
    }
    .vaccines_logos {
        margin-top: 40px;
    }
    .vaccines_logos img:nth-child(3){
        /* Pfizer logo */
        top: 17px;
    }
    .vaccines_logos img:nth-child(4){
        /* Moderna logo */
        top: 10px;
    }
}

/* Large device breakpoint */
@media (min-width: 992px) {
    .vaccination__form {
        width: 75vw;
    }
    .main__info {
        top: calc( (1.5rem * 2) + (0.6rem * 2) + 4rem);
    }
}

/* XX - Large device breakpoint */
@media (min-width: 1400px) {
    
}