/* -------- MAIN SECTION -------- */
.main {
    /* width: 100%; */
    padding: 0px;
    margin: 0px;
    margin-bottom: calc( (1.5rem * 2) + (0.6rem * 2)*3 + 4rem);
    position: relative;
    height: 100vh;
}
.main__container{
    padding: 1.5rem 1rem;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1px);
}
.main__info {
    position: relative;
    top: calc( (1.5rem * 2) + (0.6rem * 2)*3 + 4rem);
    padding-bottom: 2rem;
}
.main__image--container {
    position: absolute;
    z-index: -1;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-image: url('./../images/nurse-2.jpg');
    background-position: 50% calc(50% + 22vw);
    background-size: cover;
    background-repeat: no-repeat;
}
.main__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Vaccination form */
.vaccination__container {
    position: relative;
    top: calc( (1.5rem * 2) + (0.6rem * 2)*3 + 4rem);
}
.vaccination__form {
    position: relative;

    background-color: white;
    box-shadow: rgba(0, 47, 255, 0.15) 0px 10px 25px -5px,
    rgba(0, 47, 255, 0.08) 0px 3px 10px -5px;

    border-radius: 10px;
    padding: 2rem;
    width: calc(100vw - 1rem*2);
}
.vaccination__form>div{
    /* Form container */
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}
.vaccination__input-group {
    width: 100%;
    margin-bottom: 1.5rem;
}
.vaccination__input-group:last-child{
    margin-bottom: 0rem;
}
.vaccination__input-group h5{
    color: #566d84;
    font-weight: 500;
    margin-bottom: 0;
}
.vaccination__input-group input,
.vaccination__input-group select
{
    border: none;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 5px -4px;
    font-weight: 600;
    color: rgb(40, 40, 114);
}
.vaccination__input-group input:hover,
.vaccination__input-group input:focus,
.vaccination__input-group select:hover,
.vaccination__input-group select:focus {
    box-shadow: rgb(40, 40, 114, 0.3) 0px 5px 5px -2px;
}

/* VACCINES LOGOS SECTION */
.vaccines_logos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 40px;
    margin-bottom: 40px;
}
.vaccines_logos img{
    position: relative;
    filter: saturate(0.2) contrast(0.5) opacity(0.15);
    transform: scale(90%);
    margin: 1rem;
}
.vaccines_logos img:nth-child(1){
    /* AstraZeneca logo */
    height: 70px;
}
.vaccines_logos img:nth-child(2){
    /* Sinovac logo */
    height: 32px;
}
.vaccines_logos img:nth-child(3){
    /* Pfizer logo */
    height: 72px;
    top: 17px;
}
.vaccines_logos img:nth-child(4){
    /* Moderna logo */
    height: 44px;
    top: 10px;
}

/* Vaccine Information Section */
.vaccine_info__beneficts {
    padding-bottom: 100px;
}
.vaccine_info__beneficts>section>div{
    padding: 1.2rem;
    height: 100%;
    box-shadow: rgba(255, 255, 255, 1) 0px 0px 5px -2px,
    rgb(182, 219, 241) 0px 0px 6px -2px;
    border-radius: 10px;
}
.vaccine_info__beneficts>section>div:hover{
    box-shadow: rgb(168, 221, 252) 0px 3px 20px -2px;
}

/* Small devices breakpoint */
@media (min-width: 576px) {
}
/* Medium devices breakpoint */
@media (min-width: 768px) {
    .main {
        margin: 0px;
    }
    .main__container{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .main__info {
        top: calc( (1.5rem * 2) + (0.6rem * 2) + 2rem);
    }
    .main__image--container{
        position: relative;
        background-position: 50% calc(50% + 4vw);
    }
    .vaccination__container {
        top: unset;
        position: absolute;
        bottom: 1.5rem;
    }
    .vaccination__form {
        width: calc(100vw - 8rem - 15px);
    }
    .vaccination__form>div{
        /* Form container */
        display: flex;
        flex-direction: unset;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    .vaccination__input-group {
        width: 28%;
        padding-right: 1em;
        align-content: flex-end;
    }
    .vaccination__input-group:last-child {
        /* Submit button */
        width: 15%;
        padding: 0;
        margin: auto;
    }
}

/* Large device breakpoint */
@media (min-width: 992px) {
    .vaccination__form {
        width: 75vw;
    }
    .main__info {
        top: calc( (1.5rem * 2) + (0.6rem * 2) + 4rem);
    }
}

/* XX - Large device breakpoint */
@media (min-width: 1400px) {
    .main__image--container{
        background-position: 50% calc(50% + 8vw);
    }
}