header {
    margin: 0px;
    padding: 1.5rem 0.5rem;

    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 3px 15px -15px rgb(85, 85, 85);
}

.targets-container>section>div{
    padding: 1.2rem;
    height: 100%;
    box-shadow:rgba(176, 210, 248, 0.7) 0px 0px 10px -5px;
    border-radius: 10px;
}
.targets-container>section>div:hover{
    box-shadow: rgba(176, 210, 248, 0.5) 0px 30px 30px -10px;
}

footer {
    background-color: var(--secondary-color);
    padding-top: 3rem;
    padding-bottom: 2rem;
}
footer h5{
    font-weight: 800;
}
footer ul,
footer p{
    margin-top: 1rem;
    padding: 0px;
}
footer li{
    text-decoration: none;
    list-style: none;
    margin-bottom: 1rem;
}
footer a{
    color: var(--principal-text-color);
    text-decoration: none;
    font-weight: 600;
}

@media (min-width: 992px) {
    
    header {
        padding-left: 4rem;
        padding-right: 4rem;
    }

}